<!DOCTYPE html>
<html lang="zh-CN" class="no-js">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="data-spider" content="vstudio"/>
    <title><%= (typeof title != "undefined" ? title : "") %></title>
    <script src="https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.development.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.development.js"></script>

</head>

<body></body>

</html>